.displayBook {
  display: flex;
  justify-content: space-between;
  width: 74rem;
  height: 8.5rem;
  margin: 0 0.063rem 0.938rem 0;
  padding: 2rem 2.5rem;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
}

.displayBook:hover {
  border: 1px solid lightblue;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;
  padding: 0 5rem 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-name {
  color: rgb(12, 12, 12, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.book-title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.5rem;
}

.book-author {
  color: #4386bf;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.actions {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.comments {
  color: #4386bf;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-btn {
  color: #4386bf;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.delete-btn:hover {
  text-decoration: underline;
}

.edit {
  color: #4386bf;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.complete-graph {
  display: flex;
  gap: 1rem;
}

.oval {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #379cf6;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.complete-percent {
  display: flex;
  flex-direction: column;
}

.percentage {
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.completed {
  color: rgb(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

.current-chapter {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: rgb(10, 10, 10, 0.4);
}

.chapter-name {
  color: rgb(10, 10, 10, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

.chapter-btn {
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1.35rem;
}
