form {
  display: flex;
  gap: 1rem;
  padding: 0 2.5rem 3.5rem;
}
.form-header {
  width: 10.875rem;
  height: 2.5rem;
  margin-left: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 4rem;
  letter-spacing: -0.18px;
  color: #888;
}
input {
  width: 35rem;
  height: 2.5rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0 2rem;
  border-radius: 5px;
  border: solid 1px lightgray;
  background-color: #fff;
}
.submit-btn {
  width: 14rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 0;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 5px;
  background-color: #379cf6;
  border: none;
  color: #fff;
  cursor: pointer;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.15px;
}
